{% extends 'base.html' %}

{% from 'bootstrap5/form.html' import render_form %}

{% block content %}

<div class="row">
  <div class="d-flex justify-content-left">
     <div>
        <a class="logo" role="button" href="{{ url_for('main.index') }}">
           <button id="return" style="margin-top: 10px;">Return</button>
        </a>
     </div>
  </div>
</div> 
  <div class="col-md-12" style="padding-left:30px; padding-right:30px">
    <h1 style="padding-top:10px">{{ heading }}</h1>
  </div>
    <div class="break"></div>
    <div class="col-md-12" style="padding-left:30px; padding-right:30px">
    
    {{ render_form(form) }}
  </div>

{% endblock %}