{% extends "base.html" %}

{% from 'bootstrap5/form.html' import render_form %}

{% block content %}

    <div class="row">
        <div class="d-flex justify-content-left">
           <div>
              <a class="logo" role="button" href="{{ url_for('main.index') }}">
                 <button id="return" style="margin-top: 10px;">Return</button>
              </a>
           </div>
        </div>
     </div> 
    <div class="page-header">
        <h4>{{ heading }}</h4>
    </div>

    <!-- Form rendering is simple and easy if using bootstrap -->
    <div class="col-md-7 mx-auto">
        <div class="form-container">
            <div class="card-body">
                {{ render_form(form, form_type='horizontal', button_map={'submit': 'btn btn-primary'}) }}
            </div>
        </div>
    </div>


{% endblock %}